*{
  box-sizing: border-box;
}
body{
  background-color: #fff;
  color: #111;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  grid-gap: 16px; /* Espacio entre las celdas */
}